body{
    background-color: #34568b;
    font-family: Impact;
    font-size: 1.2em;
}
h1,h2{font-size: 2em;}

header, footer{
    background-color: #5780c1;
    text-align: center;
    border: solid whitesmoke;
    margin: 1em 0.2em 1em 0.2em;
    padding: 0.5em;
}

form{
    border: solid whitesmoke;
    text-align: center;
    margin: 1em 0.2em 1em 0.2em;
    padding: 0.2em;
}

select,button{
    font-family: Impact;
    margin: 0em 1em 5em 0em;
    background-color:  #5780c1;
    border: solid #5780c1;
    color: whitesmoke;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

select:hover, button:hover, label:hover, a:hover{
    background-color: whitesmoke;
    border-color: whitesmoke;
    color: black;
}

/* Parti quiz.html */
section{
    text-align: center;
    border: solid whitesmoke;
    color: whitesmoke;
    margin: 1em 0.2em 1em 0.2em;
    padding: 0.5em;
}

img{
    border: solid;
    width: 15em;
    height: auto;
    margin-top: 1.2em;
}

label{
    border: solid white;
    background-color: #5780c1;
    margin: 2em 1em 2em 1em;
}

input{
    margin: 2em 1em 2em 1em;
}

.check, #returnAccueil{
    font-size: 2em;
    margin: 1em 0em 1em 0em;
}

/* resultats.html */
.good{
    background-color: green;
    border: solid;
}
.bad{
    background-color: red;
    border: solid;
}

#loadBar{
    background-color:  #5780c1;
    width: 40em;
    margin: auto auto 2em auto;
    border: solid white;
}

#loading{
    background: white;
    height: 2em;
    width: 2em;
    position: relative;
}

.error{
    color: red;
    border: solid;
    font-size: 1.5em;
}
